# Python & Environment
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Data & Model Indexes
*.csv
*.json
*.docx
*.html
*.zip
output_plots/
faiss_index/
.tempmediaStorage/

# Operating System
.DS_Store
Thumbs.db

